:root {
    --main-bg-color: #f6f6f6;
    --input-bg-color: #F6D781;
    --btn-bg-color: #007AFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'farro', sans-serif;
    background-color: var(--main-bg-color);
    height: 100vh;
}


.outer-container {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 0 15px;
    text-align: center;
}

h2 {
    text-transform: lowercase;
    font-size: 20px;

}

h4 {
    font-size: 12px;
    margin-bottom: 10px;
}

h2:first-letter,
h4:first-letter {
    text-transform: capitalize;
}

.header-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 200px;
    width: 100%;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.37);
    position: relative;
    flex-shrink: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5px;
}

label {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

input {
    background-color: var(--input-bg-color);
    height: 35px;
    width: 170px;
    border-color: transparent;
    border-radius: 3px 0 0 3px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 5px;
}

button {
    font-family: 'farro', sans-serif;
    font-size: 15px;
    height: 35px;
    width: 60px;
    border-color: transparent;
    border-radius: 0 3px 3px 0;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--btn-bg-color);
    color: #FFFFFF;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.input-container {
    display: flex;
}

main {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 5vh;
    margin-top: 0;
    z-index: 2;
}

.main-container {
    height: 25vh;
    margin-top: 10px;
    margin-bottom: 10vh;
}

.car_info-card {
    height: 50vh;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.car_info-card > div {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    position: fixed;
    align-self: flex-end;
}

.footer-container {
    height: 25vh;
}

#swiper-wrapper {

}

#mySwiper {
    padding: 10px;
}

.swiper_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.swiper_img-wrapper {
    width: 100%;
    height: 220px;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    z-index: 1;
    font-size: 12px;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
}

.loading-message {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 20px;
}

.error-message-container {
    /*margin-top: -3vh;*/
    margin-top: -25px;
    margin-bottom: 40px;
}


@media screen and (min-width: 576px) {
    h1 {
        font-size: 28px;
    }

    .main-container {
        margin-top: -6vh;
    }

    .error-message {
        font-size: 15px;
    }
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h4 {
        font-size: 14px;
    }

    .main-container {
        margin-top: -6vh;
    }

    form {
        margin-bottom: 0;
    }

    label {
        margin-bottom: 0;
    }

    .error-message {
        font-size: 20px;
    }

    .error-message-container {
        margin-top: 25px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 28px;
    }

    h4 {
        font-size: 14px;
    }

    .main-container {
        margin-top: -3vh;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 38px;
    }

    .car_info-card {
        min-height: 270px;
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        font-size: 40px;
    }
}

